<mat-toolbar color="primary" class="navbar">
  <div class="navbar-left">
    <a href="/" class="logo">
      <img src="../../../assets/img/LogoSf.jpg" class="navbar-logo" alt="Logo">
      <span>Turismo San Fernando</span>
    </a>
  </div>

  <div class="navbar-right">
    <button *ngIf="!isAuthenticated" mat-button (click)="goToLogin()">Iniciar Sesion</button>
    <button *ngIf="!isAuthenticated" mat-button (click)="goToRegister()">Registrarse</button>
    <button *ngIf="isAuthenticated" mat-button (click)="logout()">Logout</button>
  </div>
</mat-toolbar>
