<mat-toolbar class="navbar">
  <div class="navbar-left">
    <a href="/" class="logo">
      <img src="../../../assets/img/LogoSf.jpg" class="navbar-logo" alt="Logo">
      <span>Turismo San Fernando</span>
    </a>
  </div>

  <div class="navbar-right">
    <button *ngIf="!isAuthenticated" mat-button (click)="goToLogin()">Iniciar Sesión</button>
    <button *ngIf="!isAuthenticated" mat-button (click)="goToRegister()">Registrarse</button>
    <button *ngIf="isAuthenticated" mat-button (click)="logout()">Cerrar Sesión</button>
    <button *ngIf="rol === 'administrador'" mat-icon-button (click)="addNewSite()">
      Panel Admin
    </button>
  </div>
</mat-toolbar>
