mat-card {
  margin: 30px auto;
  max-width: 900px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding-top: 400px;
  text-align: center;
}

mat-card-header {
  background: #124080;
  color: white;
  padding: 12px;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

mat-card-title {
  font-size: 1.8rem;
  font-weight: bold;
}

mat-card-content {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #000000;
}

mat-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 1px;
  box-shadow: 0 3px 10px #00000033;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  background: #01848b;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
}

button:hover {
  background: #124080;
  transform: scale(1.1);
  color: white;
}

h3 {
  color: #124080;
  font-size: 1.4rem;
  margin-top: 25px;
  display: inline-block;
  padding-bottom: 5px;
}

textarea {
  width: 100%;
  height: 130px;
  margin-top: 12px;
  padding: 12px;
  font-size: 1.1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  resize: vertical;
  background-color: #f8f8f8;
}

input[type="number"] {
  padding: 8px;
  font-size: 1rem;
  width: 70px;
  margin-left: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f8f8f8;
}

mat-raised-button {
  margin-top: 20px;
  font-size: 1rem;
}

ng-template {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: #D32F2F;
}

p {
  font-size: 1.1rem;
  color: #000000;
}




